body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.btnNormal {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

p{
  margin: 10px 0;
}

p > strong {
  font-size: 20px;
  color: #9333ea;
}

ul li {
  margin-top: 20px;
  list-style: circle;
}

li strong {
  color: wheat;
}

pre {
  background-color: #202020;
}
